{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="container">
        <h4>The Metropolitan Museum of Art</h4>

        <p>This website visualizes over 5000 years of art from around the world for everyone to experience and enjoy!
        The data comes from a CSV file, if you want you can visit this <a href="https://github.com/metmuseum/openaccess" target="_blank">website</a> for more informations.
        The Metropolitan Museum of Art provides select datasets of information on more than 470,000 artworks in its Collection.
        </p>

        <p>Click on <strong>Artist</strong> to view all the artists.</p>

        <p>Click on <strong>Artwork</strong> to view all the artworks.</p>

        <p>Click on <strong>Classification</strong> to view all the classifications about artworks.</p>

        <p>Click on <strong>Dating Artwork</strong> to see the datings of each artworks</p>

        <p>Click on <strong>Localisation</strong> to see the localisation of each artworks</p>

        <p>Click on <strong>Data Manager</strong> to add some data, such as an artist or an artwork for example.</p>
    </div>
{% endblock %}
