 {% extends 'base.html.twig' %}

{% block title %}Dating show{% endblock %}

{% block body %}
    <div class="container">
        {% if successMessage is not empty %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ successMessage }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        
        {% if dating is not empty %}
            <p>{{ dating }}</p>

            <a class="btn btn-success" href="{{ path('edit_dating_artwork', {'id': dating.id}) }}" role="button">Edit this dating</a>
        {% endif %}
    </div>
{% endblock %}
